
.homepage{
    border: 10px outset;    
    text-align: center;
    color: black;
    background-image: url(https://i.ytimg.com/vi/XKC62IFnH2s/maxresdefault.jpg); 
    min-height: 700px;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
.h1{
    font-size: 100px;
}